<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </head>

    <body class="bg-sky"> 
      <div class="container text-center">
        <img class="icon" src="notes.png"/>
      </div>
        <!-- html form -->
     <div class="container col-md-4">
      <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Sign Up
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            
            <div class="form-group">
              <label for="exampleUserId">UserId</label>
              <input type="text" class="form-control" id="exampleUserId" aria-describedby="emailHelp" placeholder="Enter UserId">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword2">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
            </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn bg-sky">Submit</button>
            </form>
        </div>
        </div>
      </div>
      </div>
    </body>

</html>