<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victory.erp.mapper.TitleMapper">
    <resultMap id="titleMap" type="com.victory.erp.domain.Title">
        <id property="Tid" column="t_id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
    </resultMap>

    <select id="findByEmpTitle" parameterType="Integer" resultMap="titleMap">
        Select * from Titles Where t_id = #{Tid};
    </select>

    <select id="findByTitleCode" parameterType="string" resultMap="titleMap">
        Select * from Titles Where code = #{code};
    </select>

    <insert id="insertTitles">
        Insert Titles (empTitle,titleCode,titleName,level)
        into (#{empTitle},#{titleCode},#{titleName},#{level})
    </insert>
</mapper>